@charset "UTF-8";

@import '../assets/fonts/pretendard/pretendard.css';

* {
  font-family: -apple-system, BlinkMacSystemFont, Pretendard, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif !important;

  word-break: keep-all;
}

a,
article,
body,
button,
div,
footer,
header,
li,
nav,
p,
section,
ul {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
